force-app/main/default/flows/PromptProcessing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>OpenAI_Connect</name>
        <label>OpenAI Connect</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>OpenAIConnect</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>openaiPrompt</name>
            <value>
                <elementReference>EditPrompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>openaiSystem</name>
            <value>
                <elementReference>System_Prompt</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptParameters</name>
            <value>
                <elementReference>ParameterValues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settingsEndpoint</name>
            <value>
                <elementReference>NamedCredential</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settingsModel</name>
            <value>
                <elementReference>ModelChoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settingsTemperature</name>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settingsTokens</name>
            <value>
                <elementReference>MaxTokens</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpenAIConnect</nameSegment>
        <outputParameters>
            <assignToReference>aiFinishReason</assignToReference>
            <name>finishReason</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiModelUsed</assignToReference>
            <name>openAiModel</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>alObjectPath</assignToReference>
            <name>openAiObject</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TemperatureUsed</assignToReference>
            <name>openAiTemperature</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>aiAnswer</assignToReference>
            <name>openAiTextOutput</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>replyId</assignToReference>
            <name>replyID</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>tokensUsed</assignToReference>
            <name>tokensUsed</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>NamedCredential</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OpenAIChat</stringValue>
        </value>
    </constants>
    <description>Execute an OpenAI API call with record data</description>
    <dynamicChoiceSets>
        <name>Model</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Model__c</picklistField>
        <picklistObject>Prompt__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AnswerName</name>
        <dataType>String</dataType>
        <expression>&quot;Answer for &quot; &amp; {!PromptRecord.Name} &amp; &quot; &quot; &amp;
            text(now())</expression>
    </formulas>
    <formulas>
        <name>IncrementUsedCount</name>
        <dataType>Number</dataType>
        <expression>{!PromptRecord.UsedCount__c} + 1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>AI Gateway {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prompt Processing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Answer</name>
        <label>Record Answer</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>AnswerScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Answer__c</field>
            <value>
                <elementReference>aiAnswer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AnswerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParameterValues__c</field>
            <value>
                <elementReference>ParameterValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PromptUsed__c</field>
            <value>
                <elementReference>EditPrompt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prompt__c</field>
            <value>
                <elementReference>PromptRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SystemUsed__c</field>
            <value>
                <elementReference>System_Prompt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Temperature__c</field>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TokensUsed__c</field>
            <value>
                <elementReference>tokensUsed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <object>PromptAnswer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>PromptRecord</name>
        <label>PromptRecord</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prompt_Processing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promptRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Prompt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Increment the Used Count field in the prompt</description>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Record_Answer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>promptRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UsedCount__c</field>
            <value>
                <elementReference>IncrementUsedCount</elementReference>
            </value>
        </inputAssignments>
        <object>Prompt__c</object>
    </recordUpdates>
    <screens>
        <name>AnswerScreen</name>
        <label>Answer</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Answer</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;ChatGPT
                Response&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Tokens Used:
                {!tokensUsed}&lt;/p&gt;&lt;p&gt;Model Used:
                {!aiModelUsed}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Answer
                Text&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255,
                255, 255); color: rgb(68, 68, 68);&quot;&gt;{!aiAnswer}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Prompt_Processing</name>
        <label>Prompt Processing</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OpenAI_Connect</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name:
                {!PromptRecord.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span
                style=&quot;font-size: 14px;&quot;&gt;Title:
                {!PromptRecord.Title__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ModelChoice</name>
            <choiceReferences>Model</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PromptRecord.Model__c</elementReference>
            </defaultValue>
            <fieldText>Model</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Temperature</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PromptRecord.Temperature__c</elementReference>
            </defaultValue>
            <fieldText>Temperature (aka Creativity, default = 0.7, up to 1.3 for max)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>MaxTokens</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>PromptRecord.MaxTokens__c</elementReference>
            </defaultValue>
            <fieldText>Max Tokens (default = auto, max = 2000)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ParameterValues</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PromptRecord.Parameters__c</elementReference>
            </defaultValue>
            <fieldText>Edit parameter values by changing JSON values</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EditPrompt</name>
            <defaultValue>
                <stringValue>{!PromptRecord.Prompt__c}</stringValue>
            </defaultValue>
            <fieldText>Check and update your prompt if using multi-line parameters</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>System_Prompt</name>
            <defaultValue>
                <stringValue>{!PromptRecord.System__c}</stringValue>
            </defaultValue>
            <fieldText>System Prompt used to shape response</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Execute</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PromptRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aiAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiFinishReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiInstruction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiMaxTokens</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>aiModelUsed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>aiPrompt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>alObjectPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>openAiDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>replyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemperatureUsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>tokensUsed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>